/*
=======================================

	Brantly Bros © 2015 - 

	0. nav
	1. main-content
	2. about
	3. services
	4. testimonials
	5. request-move
	6. footer

=======================================
*/


* {
	padding: 0;
	margin: 0;
	border: 0;
}

a:hover {
	text-decoration: none;
}

#anchor-about {
    position: absolute;
    top: -120;
}

#anchor-test {
    position: absolute;
    top: 1650;
}

#anchor-contact {
	position: absolute;
    top: 2180;
}


/*
=======================================
		0. Navbar
=======================================
*/

nav {
	height: 100px;
	width: 100%;
	position: fixed;
	top: 30;
	color: white;
	z-index: 3;
	transition: all 0.4s ease-in-out;
	/*background-color: white;
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;*/
}

nav a {
	color: white;
	transition: all 0.2s ease-in-out;
}

nav a:hover {
	color: #99CCFF;
}


#mobile-dropdown {
	color: white;
	float: right;
	margin: 30px;
	font-size: 30px;
	display: none;
}

.nav-shrink {
	background-color: white;
	border-top: 4px solid #D6D6D6;
	border-bottom: 4px solid #D6D6D6;
	top: 0;
	transition: all 0.4s ease-in-out;
}

.nav-shrink ul {
	margin-top: 35px;
	transition: all 0.4s ease-in-out;
}

.nav-shrink a {
	color: black;
	transition: all 0.2s ease-in-out;
}

.nav-shrink #mobile-dropdown {
	color: black;
}

.nav {
	max-width: 1060px;
	margin: auto;
}

nav ul {
	margin: 30px 10px 0 0;
	float: right;
	font-size: 16px;
	transition: all 0.4s ease-in-out;
}

nav li {
	display: inline;
	margin-left: 10px;
}


@media screen and (max-width: 600px) {
	nav ul {
		float: left;
		display: none;
	}

	#mobile-dropdown {
		display: block;
	}

	nav li {
		float: none;
		display: block;
	}
}


/*
=======================================
		1. Main Content
=======================================
*/

.main-content {
	height: 100%;
	width: 100%;
	background: black url('/imgs/header.png') no-repeat center; /*fixed*/
}

#request-move-btn {
	border-radius: 2px;
	border: none;
	font-size: 24px;
	padding: 15px 70px;
	background-color: #2f81fb;
	color: white;
	transition: all 0.2s ease-in-out;
}

#request-move-btn:hover {
	background-color: #2A74E2;
}

/*
=======================================
		2. About
=======================================
*/

.about {
	max-width: 700px;
	margin: auto;
	position: relative;
}

.about .container {
	margin-top: 50px;
	width: 100%;
}

.icon {
	display: inline;
}

.icon i {
	color: white;
	position: relative;
	font-size: 30px;
	top: 6;
	left: -55;
}

.about-content h1 {
	display: inline;
	position: relative;
	top: 10;
}

.about-content p {
	margin-left: 118px;
}

.about  p {
	font-size: 16px;
}


@media screen and (max-width: 460px) {
	.about-header {
		margin: auto;
		text-align: center;
	}

	.about-header h1 {
		margin-left: -15px;
		font-size: 35px;
	}

	.about p {
		margin: 20px;
	}
}

/*
=======================================
		3. Testimonials
=======================================
*/

.testimonials {
	max-width: 700px;
	margin: auto;
}

.testimonials blockquote {
	border-color: #808080;
	margin-left: 10px;
}

.testimonials p {
	font-size: 16px;
}


/*
=======================================
		4. Contact
=======================================
*/

.contact {
	max-width: 700px;
	margin: auto;
}

.contact .container {
	width: 100%;
}


/*
=======================================
		6. Footer
=======================================
*/

footer {
	position: relative;
	height: 200px;
	background-color: #005CE6;
	color: white;
}

footer .container {
	max-width: 700px;
	margin: auto;
	text-align: center;
}

footer .container h1 {
	padding-top: 40px;
}

#footer-bottom {
	position: relative;
	top: 60;
	height: 40px;
	background-color: #002E73;
}